@using BikeShop.Models.Bag
@model BagDeleteViewModel
@{
    ViewData["Title"] = "Delete Bag";
}

<p>Are you sure you want to remove order nr. <strong>@Model.BagId</strong> ?</p>

<form asp-controller="Bag" asp-action="ConfirmDelete" asp-route-id="@Model.BagId" method="post">
    <button class="btn btn-danger">Delete</button>
</form>

<a asp-controller="Bike" asp-action="Index">Back to overview</a>