@using BikeShop.Models.Bag
@model IEnumerable<BagListViewModel>


@{
    ViewData["Title"] = "Bag Overview";
}

<h1>Cart Overview</h1>

<table>
    <thead>
        <tr>
            <th style="width:300px">Date</th>
            <th style="width:150px">Detail</th>
            <th style="width:150px">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td><a asp-controller="Bag" asp-action="detail" asp-route-id="@item.BagId">View</a></td>
                <td><a asp-controller="Bag" asp-action="delete" asp-route-id="@item.BagId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>