@using BikeShop.Models.Customer
@model CustomerEditViewModel
@{
    ViewData["Title"] = @Model.Title;
}

<form asp-controller="customer" asp-action="edit" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Edit</button>

</form>